<html>
    <head>
    </head>
    <body>
        <h1>Login Successful..!!</h1>
        <a href="/profile">Goto Profile Page</a>
    </body>
    <script>
        setTimeout(function(e){
            window.location.href = '/profile';
        },500);
    </script>
</html>