<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>

<body ng-app="App" ng-controller="Cart_Controller">
    <h1> All Products </h1>
    <table>
        <tr ng-repeat="item in productList">
            <td> {{ item.name }} </td>
            <td> {{ item.price }} </td>
            <td> <a href="#" class="add-to-cart" ng-click="addToCart(item,$index)">Add to cart</a> </td>
        </tr>
    </table>
    <br>
    <br>
    <hr>
    <div ng-show="cart.length > 0">
        <h1> Cart </h1>
        <table>
            <tr ng-repeat="item in cart">
                <td> {{ item.name }} </td>
                <td> {{ item.price }} </td>
                <td> <a href="#" class="add-to-cart" ng-click="remove(item,$index)">Remove</a> </td>
            </tr>
        </table>
        <button type="button" ng-show="cart.length > 0" ng-click="proceedToBuy()">Proceed To Pay</button>
    </div>
    <script>
        var app = angular.module('App', []);
        app.controller('Cart_Controller', function ($http, $scope) {
            $scope.value = "random";
            $scope.cartObj = {};
            $scope.cart = [];
            $scope.productList = [
                {
                    name: "television"
                    , price: 100
                }
                , {
                    name: "AC"
                    , price: 150
                }
                , {
                    name: "laptop"
                    , price: 200
                }
                , {
                    name: "mobile"
                    , price: 120
                }
            ];
            $scope.addToCart = function (obj, index) {
                $scope.cart.push(obj);
                $scope.productList.splice(index, 1);
            }
            $scope.remove = function (obj, index) {
                $scope.productList.push(obj);
                $scope.cart.splice(index, 1);
            }
            $scope.proceedToBuy = function () {
                var total = 0;
                angular.forEach($scope.cart, function (key, value) {
                    total = total + key.price;
                });
                if (confirm("Total amount : " + total + ". Proceed?")) {
                    $scope.cartObj.products = $scope.cart;
                    $scope.cartObj.total = total;
                    $http({
                        method: 'POST'
                        , url: "/proceedToPay"
                        , data: $scope.cartObj
                    }).then(function (success) {
                        window.location.href = 'payment/' + success.data.token
                    }, function (error) {});
                }
            }
        });
    </script>
</body>

</html>