<html>
    <head>
    </head>
    <body>
        <img src="<%= image_url %>" />
        <h2>Name : <%= name %></h2>
        <h2>GoogleID : <%= id %></h2>
        <a href="/logout">LOGOUT</a>
        <a href="/products">PRODUCTS</a>
    </body>
</html>