<html>
    <head></head>
    <body>
        <a href="/profile">Back to profile</a>
        <form action="/addToWallet" method="POST">

         <input name="credits" value="" type="text">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_EFauhL4VIeoeTDQUBdETeCmj" data-name="Demo Site" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
        </script>
       
    </form>
    </body>
</html>